extends ../layout
include ../news/mixins/slider-card
include ../activity/mixins/list-card
include ../service/mixins/services-list-card
include ../excursion/mixins/excursion-list-card

block content
  .head
    img.head__img(src="/img/head_1.jpg")
    .container
      h1.head__title= department.name
  .section.page-content
    .columns.is-multiline
      .column.is-9
        .box.page-content__box
          .content
            figure
              img(src=department.photoLink)
            h1= department.name
            p= department.description
          div
            .title.is-4 Прикрепленные файлы:
            ul.list-file
              each document in documents
                li
                  a(href=document.documentLink target="_blank")
                    span.material-icons attach_file
                    span= document.name
        .box.page-content__box
          .title.is-4 Сотрудники
          table.table.is-bordered.is-fullwidth
            thead
              tr
                th Имя сотрудника
                th Номер телефон
            each staffer in staffers
              tr
                td(style="width: 50%;")= staffer.name
                td= staffer.tel

      .column
        .box.card-director
          .media
            .media-left
              .card-director__icon
                span.material-icons person
            .media-content
              .card-director__text Заведующий отделением
              .card-director__name=manager.name
              .contact-item
                span.material-icons phone
                span= manager.tel
        .box
          .title.is-5 Контакты отделения центра
          .contact-item
            span.material-icons phone
            span= department.tel
          .contact-item
            span.material-icons location_on
            span= department.address
        .box
          .title.is-5 Культурный центр
          figure
            img(src=culturalInstitution.photoLink)
          .content
            p=culturalInstitution.name
          .has-text-centered
            a.button.is-primary(href=culturalInstitution.detailLink) Подробнее

  .section
    .level.section-head
      .level-left
        .level-item
          .title.is-2 Услуги отделения:
      .level-right
        .level-item
          a(href=allServicesHref).section-head__link Смотреть все
    .columns
      each service in services
        .column.is-3
          +servicelistCard(service)
  .section
    .level.section-head
      .level-left
        .level-item
          .title.is-2 Мероприятия отделения:
      .level-right
        .level-item
          a(href=allServicesHref).section-head__link Смотреть все
    .columns
      each activity in activities
        .column.is-3
          +listCard(activity)
  .section
    .level.section-head
      .level-left
        .level-item
          .title.is-2 Экскурсии отделения:
      .level-right
        .level-item
          a(href=allServicesHref).section-head__link Смотреть все
    .columns
      each excursion in excursions
        .column.is-3
          +excursionListCard(excursion)
  .section
    .level.section-head
      .level-left
        .level-item
          .title.is-2 Новости отделения:
      .level-right
        .level-item
          a(href=allNewsHref).section-head__link Смотреть все
    .columns.is-multiline
      each item in news
        .column.is-4
          +sliderCard(item)

