extends ../layout
include ../news/mixins/slider-card
include ../activity/mixins/list-card

block content
  .head
    img.head__img(src="/img/head_1.jpg")
    .container
      h1.head__title= culturalInstitution.name
  .section.page-content
    .columns
      .column.is-8-desktop.is-9-fullhd
        .box.page-content__box
          .content
            figure
              img(src=culturalInstitution.photoLink)
            h1= culturalInstitution.name
            p= culturalInstitution.description
        .box.page-content__box
            .title.is-4 Отделения:
            table.table
              each department in departments
                tr
                  td(style="width: 50%;")= department.name
                  td= department.address
                  td
                    a(href=department.detailLink).button.is-primary.is-fullwidth подробнее
      .column
        .box.card-director
          .media
            .media-left
              .card-director__icon
                span.material-icons person
            .media-content
              .card-director__text Директор
              .card-director__name=director.name
              .contact-item
                span.material-icons phone
                span= director.tel
        .box
          .title.is-5 Контакты культурного центра
          .contact-item
            span.material-icons phone
            span= culturalInstitution.tel
          .contact-item
            span.material-icons location_on
            span= culturalInstitution.address


  .section
    .level.section-head
      .level-left
        .level-item
          .title.is-2 Мероприятия:
      .level-right
        .level-item
          a(href=allActivitiesHref).section-head__link Смотреть все
    .columns
      each activity in activities
        .column.is-3
          +listCard(activity)
  .section
    .level.section-head
      .level-left
        .level-item
          .title.is-2 Новости:
      .level-right
        .level-item
          a(href=allNewsHref).section-head__link Смотреть все
    .columns
      each item in news
        .column.is-4
          +sliderCard(item)
