mixin listCard(activity)
  .card.activity
    .card-image
      figure.image
        img(src=activity.photoLink)
    .card-content
      a(href=activity.detailLink).activity__title= activity.name
      time= activity.date
      p Ограничение: #{activity.limitations}
      a(href=activity.detailLink).activity__more Читать дальше
