extends ../layout

block content
  .head
    img.head__img(src="/img/head_1.jpg")
    .container
      h1.head__title= activity.name
  .section.page-content
    .columns.is-multiline
      .column.is-9
        .box.page-content__box
          .content
            p
              img(src=activity.photoLink)
            h1= activity.name
            p= activity.description
          div #[b Время проведения:] #{activity.date}
          div #[b Цена:] #{activity.price}
          div #[b Ограничения:] #{activity.limitations}
      .column
        .box
          .title.is-5  Проводит
          .content
            p
              a(href=source.detailLink)=source.name
            img(src=source.photoLink)

