extends ../layout

block content
    .columns
        .column.is-10
            h1= activity.name
            figure
                img(src=activity.photoLink width="460" height="396")
            time= activity.date
            p= 'ограничения'
            p= activity.description

        .column.is-2
            h2= source.name
            a(href=source.detailLink) Подробнее