mixin listCard(model)
    .box
        .columns
            .column
                a(href=model.detailLink).posts__img
                    figure
                        img(src=model.photoLink)
            .column
                .title.is-5
                    p
                        a.title(href=model.detailLink)= model.name
                    p address: #{model.address}
                    p tel: #{model.tel}

                    //Ограничить высоту
                    p.descprition= model.description
                    p
                        a.button(href=model.detailLink) Подробнее
