extends ../layout

block content
  .head
    img.head__img(src="/img/head_1.jpg")
    .container
      h1.head__title= news.name
  .section.page-content
    .columns.is-multiline
      .column.is-9
        .box.page-content__box
          .content
            img(src=news.photoLink)
            h1= news.name
            p= news.description
            time= news.date
      .column
        .box
          .title.is-5 Источник
          a(href=source.detailLink)= source.name