mixin listCard(model)
  .card.small-card
    a.block-link(href=model.detailLink)
    .card-image
      figure.image.is-3by2
        img(src=model.photoLink)
    .card-content
      .small-card__title= model.name
      time= model.date
      .card-more
        .card-more__dot
        a(href=model.detailLink).card-more__link Читать дальше
          span.material-icons arrow_forward